{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue !</h1>
    <hr>
    <h3> Ce site web basique est un exemple de projet simple à réaliser pour débuter avec Symfony. </h3>
    <br>
    <h3>Le code source est disponible sur à cette adresse : <a href="https://github.com/Tom-Huaume/seriesv52">Tom-Huaume</a></h3>

{% endblock %}

{% block title %} {{ parent() }} | Home {% endblock %}